* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(220, 220,220),white);
}

h1 {
    font-size: 2rem;
font-family: "roboto", sans-serif;
font-weight: 900;
font-style: normal;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 30px;
    border: none;
    background: rgb(179, 36, 36);
    width: 20rem;

    
}

h2{
color:rgb(63, 63, 63);
font-family: "elza-text", sans-serif;
font-weight: 500;
font-style: normal;
border-bottom: 2px solid rgb(212, 211, 211);
}

h3 {
    color:rgb(63, 63, 63);
    padding: 50px;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
    color: aliceblue;
    

}

section{
    padding: 0 0px 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:80rem;
    height: 30rem;
    background: rgb(235, 234, 234);
    box-shadow: 5px 5px 10px -5px black; 
    border-radius: 10px;
}
header{
    
    height: 10vh;
    text-align: center;
    line-height: 10vh;
}

main{
    display: flex;
    justify-content: center;
    height: 90vh;

}
.mainbox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#passbox {
    font-size: 100px;
    width: 30rem;
    padding: 130px;
    margin: .75rem;
    border: 2px dashed rgb(185, 183, 183);
    border-radius: 10px;
   
}